{% extends 'Core/Layout/Templates/Base.html.twig' %}

{% block main %}

  <div class="section-default">
    <div class="row">
      {# Main positions #}
      {% for content in positions.main %}
        <div class="col-lg-offset-2 col-lg-8">
          {% if content.html %}
            {{ content.html|raw }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
