{% include 'Core/Layout/Templates/PageStart.html.twig' %}

<!-- The team's stylesheet -->
<link href="/src/Frontend/Themes/Fork/Core/Layout/Css/theme-fireflies.css" rel="stylesheet">

{% include 'Core/Layout/Templates/PageMid.html.twig' %}

<div class="header">
  Team Dashboard - <span class="teamname">{{ page.title }}</span>
</div>
<div class="dashboard">

{% block main %}

  {% for content in positions.main %}
    <div class="dashboardwidget">
      <div class="dashboardwidget_inner">
          {% if content.html %}
            {{ content.html|raw }}
          {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% include 'Core/Layout/Templates/PageEnd.html.twig' %}
