{% extends 'Core/Layout/Templates/PageStart.html.twig' %}

<!-- The team's stylesheet -->
<link href="/src/Frontend/Themes/Fork/Core/Layout/Css/theme-flamingflamingos.css" rel="stylesheet">

{% extends 'Core/Layout/Templates/PageMid.html.twig' %}

{% block main %}

  {% for content in positions.main %}
    <div class="dashboardwidget">
      <div class="dashboardwidget_inner">
          {% if content.html %}
            {{ content.html|raw }}
          {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% extends 'Core/Layout/Templates/PageEnd.html.twig' %}
