* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
    font-weight: 400;
    font-family: "Fira Sans", "Segoe WP", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #4b4b4d;
    background: #ffffff;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.container {
	background-color: #eeeeee;
	padding: 0;
}

.header {
	background-color: #4b4b4d;
	color: #ffffff;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
}

.dashboard {
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	background-color: #eeeeee;
}

.dashboardwidget {
	width: 100%;
	float: left;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	padding: 0.625rem; /* 10 */
}

.dashboardwidget_inner {
	width: 100%;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	
  	min-height: 250px;
  	min-width: 250px;
	
	background-color: #ffffff;
	-webkit-box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 );
    box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 );
    padding: 1.25rem;
}

.dashboardwidget_inner .title {
	font-size: 1.6em;
	text-align: left;
}

.dashboardwidget_inner .content {
	flex: 1 0 auto;
	
	display: flex; 
    justify-content: center; 
    align-items: center;
	
	/* background-color: orange; */ /* only for debugging */
    text-align: center;
}

.dashboardwidget_inner .lgvalue {
	font-size: 5em;
	font-weight: 500;
}

.dashboardwidget_inner .mdvalue {
	font-size: 3em;
}

.dashboardwidget_inner .smvalue {
	font-size: 1.6em;
}

.dashboardwidget_inner .xsvalue {
	font-size: 1.2em;
	font-weight: 600;
}

.dashboardwidget_inner .quote {
	font-style: italic;
}

/* responsive */

@media all and (min-width: 40em) {
  .dashboardwidget {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .dashboardwidget {
    width: 33.333%;
  }
}