body {
	background-image: url("../Images/flamingflamingos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	background-color: #FF6D7F;
}

.dashboardwidget_inner {
	/* background-color: #4b4b4d; */
	background-color: rgba(255, 255, 255, 0.9);
}