<div>
    <div style="float: left;">
        <span class="title">HDY</span>
        <br />
        How You Doin'?
    </div>
</div>
<div class="content">
    <span class="lgvalue">{{ widgetHydi.team }}</span>
</div>
<div>
    <div style="float: right;">
        Wijs value
        <br />
        <span class="xsvalue">{{ widgetHydi.company }}</span>
    </div>
</div>