<div>
    <div style="float: left;">
        <span class="title">ABR</span>
        <br />
        Q1 + Q2
    </div>
    <div style="float: right;">
        Target
        <br />
        <span class="xsvalue">€ {{ widgetAbr.team_target|formatnumber(0) }}</span>
    </div>


<div>
    <div style="float: left;">
        <span class="title">Party parrot</span>
        <br />
        Totally amazing and out of control
    </div>
</div> 
<div class="content">
    <img src="{{ widgetImage.image }}" />
</div>