<div>
    <div style="float: left;">
        <span class="title">Loggings</span>
        <br />
        You know what to do
    </div>
</div>
<div class="content">
    <ul>
        <li>Jonas V</li>
        <li>Michael</li>
        <li>Mattias</li>
        <li>Annelies</li>
    </ul>
</div>
