<div>
    <div style="float: left;">
        <span class="title">Quote</span>
    </div>
</div>
<div class="content">
    Lorem ipsum dolor sit Yadera, consectetur adipisicing JIRA. Quo veniam tempore Wiki velit deleniti corporis recusandae placeat eum repellendus Wijs architecto, iste, numquam nulla, praesentium fuga soluta eos Confluence sequi expedita! Ea aspernatur explicabo optio My.e-OK officia blanditiis voluptas possimus veniam maxime!
</div>
